body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    color: #333;
}

#lyrics {
    font-size: 1.5em;
    color: #555;
    white-space: pre-wrap;
}
